@font-face {
  font-family: 'VoxRound';
  src: url('VoxRound-Light.eot');
  src: url('VoxRound-Light.eot?#iefix') format('embedded-opentype'),
  url('../fonts/VoxRound-Light.ttf') format('truetype');
  font-weight: 200;
  font-style: normal;
}
@font-face {
  font-family: 'VoxRound';
  src: url('VoxRound.eot');
  src: url('VoxRound.eot?#iefix') format('embedded-opentype'),
  url('VoxRound.woff') format('woff'),
  url('../fonts/Vox_Round.otf') format('truetype');
  font-weight: 300;
  font-style: normal;
}
@font-face {
  font-family: 'VoxRound';
  src: url('VoxRound-Medium.eot');
  src: url('VoxRound-Medium.eot?#iefix') format('embedded-opentype'),
  url('VoxRound-Medium.woff') format('woff'),
  url('../fonts/VoxRound-Medium.ttf') format('truetype');
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: 'VoxRound';
  src: url('VoxRound-Semibold.eot');
  src: url('VoxRound-Semibold.eot?#iefix') format('embedded-opentype'),
  url('VoxRound-Semibold.woff') format('woff'),
  url('../fonts/VoxRound-Semibold.ttf') format('truetype');
  font-weight: 500;
  font-style: normal;
}
@font-face {
  font-family: 'VoxRound';
  src: url('VoxRoundWide-Bold.eot');
  src: url('VoxRoundWide-Bold.eot?#iefix') format('embedded-opentype'),
  url('VoxRoundWide-Bold.woff') format('woff'),
  url('../fonts/VoxRoundWide-Bold.ttf') format('truetype');
  font-weight: 600;
  font-style: normal;
  }